div.wrap{
    width : 1000px;
    margin : 0px auto;
} 

div.title{
    width: 1000px;
    height: 50px;
    background-color: pink;
    text-align: left;
    font-size: 40px;
    font-family: "Impact";
    margin-right: 30px;
}

div.middle{
    width: 1000px;
    height: 1050px;
    background-color: honeydew;
    font-size: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.bottom{
    width: 1000px;
    height: 120px;
    background-color: pink;
    text-align: left;
    font-size: 25px;
}

div.left{
    width: 250px;
    height: 700px;
    background-color: honeydew;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-family: "Impact";
    text-align: center;
    margin-right: 50px;   
}

div.menuitem0{
    width: 250px;
    height: 100px;
    background-color: pink;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

div.menuitem1{
    width: 250px;
    height: 100px;
    background-color: aqua;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

div.menuitem2{
    width: 250px;
    height: 100px;
    background-color: pink;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

div.menuitem3{
    width: 250px;
    height: 100px;
    background-color: aqua;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

div.menuitem4{
    width: 250px;
    height: 100px;
    background-color: pink;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

div.menuimage{
    width: 250px;
    height: 300px;
    background-color: aqua;
    margin-left: 5px;
}

div.right{
    width: 700px;
    height: 280px;
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}

div.image1{
    width: 700px;
    height: 465px;
    background-color: pink;
}

div.article1{
    width: 700px;
    height: 20px;
    background-color: aqua;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

div.image2{
    width: 700px;
    height: 465px;
    background-color: pink;
}

div.article2{
    width: 700px;
    height: 55px;
    background-color: aqua;
    text-align: center;
    font-size: 15px;
}

body{
    background-image:
    url("../images/dezital.final.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: bottom right;
    
}

